@charset "UTF-8";

* {

    margin: 0%;
    padding: 0%;
    border: 0px;


}

body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    text-align: center;

}




ul li.li1 {

    background-color: #00ffff;
}

ul li.li2 {
    background-color: #0004ff;
    margin-left: auto;
}

ul li.li3 {

    background-color: #ff6200;
    margin:auto;
}


ul.lista li {
    display: block ;
    width: 33.333%;
    height: 150px;
    text-align: center;

}