* {
    margin: 0%;
    padding: 0%;
    border: 0px;



}

body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}

ul.todos{

    text-align: justify;
}


ul.todos li {
    display: inline-block;
    list-style: none;
    color: #ffffff;
    width: 25%;
    height: 150px;

}




ul.todos::after{
content: '';
opacity: 0%;
display: inline-block;
width: 100%;


}



ul li.item1 {
    background-color: #00ffff;

}

li.item2 {
    background-color: #0000ff;

}

li.item3 {
    background-color: #2ae76f;


}