@charset "utf-8";



article {

    overflow: hidden;
    background-color: aqua;


}

div.item {
    width: 50%;
    height: 200px;
    color: rgb(13, 246, 226);
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
    font-size: 25px;



}


p.text {
    clear: both;
}



div.div1 {
    background-color: #0022ff;
    float: left;



}

div.div2 {
    background-color: #ff0040;
    float: left;


}