@charset "utf-8";

@import url('https://fonts.googleapis.com/css2? family= Dancing+Script & family= Dosis & family= Fredericka+the+Great & family= Lobster & family= Open+Sans:wght@ 300 & family= Raleway:wght@200 & family= Righteous & family= Titan+One & family= VT323 & display=swap');





*{

margin: 0px;
padding: 0px;

}
header{

background-color: #000000;
color: aliceblue;
height: 180px;
margin-top:-5%;



}


header>p>a{

text-decoration: none;
color: #ffffff;
padding: 0%;

}
header>h1{
text-align: center;
padding-top: 45px;



}
header>p{
text-align: center;


}

body{
width: 600px;
border-style:groove;
margin: auto;



}


section>p{

margin-left: 25px;
   
}

section.img{



}























