@charset "utf-8";


body h1 {

    text-indent: 10px;
    text-transform: capitalize;
    margin: auto;
    text-align: center;

}



body table {


    border-collapse: collapse;
    margin: auto;
    width: 600px;

}

thead{
background-color: rgb(243, 164, 90);
color: white;

}

tfoot{

    background-color: gray;
    color: white;



}


table tr ,td ,th{


    
    border: 1px solid black;
 
    padding: 15px;
    padding: 10px;


}

td.num{

text-align: right;

}