@charset "utf-8";


body h1 {

    text-indent: 10px;
    text-transform: capitalize;
    margin: auto;
    text-align: center;

}



body table {


    border-collapse: collapse;
    margin: auto;
    width: 600px;

}

thead {
    background-color: #f3a45a;
    color: white;

}

tfoot {

    background-color: gray;
    color: white;



}


table tr,
td,
th {



    border: 1px solid black;

    padding: 15px;
    padding: 10px;



}

td.num {

    text-align: right;

}

table caption {

    font-size: 1.2em;
    font-weight: bold;
    color: aqua;
    padding: 10px;


}

table tbody>tr:nth-child(even) {

    background-color: #e5e3ed;

}

table tbody>tr:nth-child(odd) {

    background-color: #8e999af3;

}

table {
    position: relative;
}

table thead>tr>th {
    position: sticky;
    top: 0;
    background-color: #f3a45a;

}